.DS_Store
*.pyc
/.gradle
/VrAppFramework/Projects/Android/.externalNativeBuild
/VrAppFramework/Projects/Android/build
/VrAppSupport/VrGUI/Projects/Android/.externalNativeBuild
/VrAppSupport/VrGUI/Projects/Android/build
/VrAppSupport/VrLocale/Projects/Android/.externalNativeBuild
/VrAppSupport/VrLocale/Projects/Android/build
/VrAppSupport/VrSound/Projects/Android/.externalNativeBuild
/VrAppSupport/VrSound/Projects/Android/build
/deps/openal-soft-gradle/.externalNativeBuild
/deps/openal-soft-gradle/build
/deps/openal-soft-gradle/.gradle 
/LovrApp/Projects/Android/.externalNativeBuild
/LovrApp/Projects/Android/build
/LovrApp/Projects/Android/.gradle
/LovrApp/assets/oculussig*
/LovrApp/Projects/Android/android.debug.keystore
/build
/cmakelib/.externalNativeBuild
/cmakelib/build
/cmakelib/.gradle
