.DS_Store
*.pyc
/.gradle
/build
/VrSamples/VrCubeWorld_Vulkan/Projects/Android/.cxx
/VrSamples/VrCubeWorld_Vulkan/Projects/Android/.externalNativeBuild
/VrSamples/VrCubeWorld_Vulkan/Projects/Android/.gradle
/VrSamples/VrCubeWorld_Vulkan/Projects/Android/build
/VrSamples/VrCubeWorld_Vulkan/Projects/Android/android.debug.keystore
/VrSamples/VrHands/Projects/Android/.cxx
/VrSamples/VrHands/Projects/Android/.externalNativeBuild
/VrSamples/VrHands/Projects/Android/.gradle
/VrSamples/VrHands/Projects/Android/build
/VrSamples/VrHands/Projects/Android/android.debug.keystore
/VrSamples/VrInput/Projects/Android/.cxx
/VrSamples/VrInput/Projects/Android/.externalNativeBuild
/VrSamples/VrInput/Projects/Android/.gradle
/VrSamples/VrInput/Projects/Android/build
/VrSamples/VrInput/Projects/Android/android.debug.keystore
/cmakelib/.cxx
/cmakelib/.externalNativeBuild
/cmakelib/.gradle
/cmakelib/build
/LovrApp/Projects/Android/.cxx
/LovrApp/Projects/Android/.externalNativeBuild
/LovrApp/Projects/Android/.gradle
/LovrApp/Projects/Android/build
/LovrApp/Projects/Android/android.debug.keystore
/LovrApp/local_assets
/LovrApp/local_assets.txt
/LovrApp/assets/oculussig*
local.properties
